---
http_interactions:
- request:
    method: get
    uri: https://cdn.test.host/spaces/testspace/environments/test/entries?content_type=recipe&limit=1&select=sys.id,fields.title,fields.description,fields.photo,fields.tags,fields.chef&skip=0&sys.id=unexisting_id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer testtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"11456816457221392590"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 792300a7-6cb2-4663-91f3-d2967806cc4e
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 1,
          "items": []
        }
  recorded_at: Mon, 04 May 2020 15:55:18 GMT
recorded_with: VCR 5.1.0
