---
http_interactions:
- request:
    method: get
    uri: https://cdn.test.host/spaces/testspace/environments/test/entries?content_type=recipe&limit=10&select=sys.id,fields.title,fields.description,fields.photo,fields.tags,fields.chef&skip=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer testtoken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"11456816457221392590"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - c58d796d-8cde-4c4f-a9d2-55ea1e0b2623
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidQuery"
          },
          "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field.",
          "details": {
            "errors": [
              {
                "name": "unknownContentType",
                "value": "DOESNOTEXIST"
              }
            ]
          },
          "requestId": "670d6076-3d7e-4d11-b1b8-2d3c9096b917"
        }
  recorded_at: Mon, 04 May 2020 15:50:26 GMT
recorded_with: VCR 5.1.0
