---
http_interactions:
- request:
    method: get
    uri: https://cdn.test.host/spaces/testspace/environments/test/entries?content_type=recipe&limit=1&select=sys.id,fields.title,fields.description,fields.photo,fields.tags,fields.chef&skip=0&sys.id=4dT8tcb6ukGSIg2YyuGEOm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer testtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"9572264705210899515"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 0a5f9acb-b863-4cc0-8fd0-30d0642a8073
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": "T00004",
                "description": "D00004",
                "photo": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "RA00000000000000000004"
                  }
                },
                "tags": [
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "RT00000000000000000041"
                    }
                  },
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "RT00000000000000000042"
                    }
                  }
                ],
                "chef": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "RC00000000000000000004"
                  }
                }
              },
              "sys": {
                "id": "R000000000000000000004"
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "s00000000001"
                    }
                  },
                  "id": "RT00000000000000000041",
                  "type": "Entry",
                  "createdAt": "2018-05-07T13:27:25.845Z",
                  "updatedAt": "2018-05-07T13:27:25.845Z",
                  "environment": {
                    "sys": {
                      "id": "test",
                      "type": "Link",
                      "linkType": "Environment"
                    }
                  },
                  "revision": 1,
                  "contentType": {
                    "sys": {
                      "type": "Link",
                      "linkType": "ContentType",
                      "id": "tag"
                    }
                  },
                  "locale": "en-US"
                },
                "fields": {
                  "name": "gluten free"
                }
              },
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "s00000000001"
                    }
                  },
                  "id": "RC00000000000000000004",
                  "type": "Entry",
                  "createdAt": "2018-05-07T13:29:03.514Z",
                  "updatedAt": "2018-05-[...]
