---
http_interactions:
- request:
    method: get
    uri: https://cdn.test.host/spaces/testspace/environments/test/entries?content_type=recipe&limit=10&select=sys.id,fields.title,fields.description,fields.photo,fields.tags,fields.chef&skip=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer testtoken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"5729664089973117792"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 3a937916-3490-4de3-ae8c-6de1a17b5fa3
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": "T00001",
                "description": "D00001",
                "photo": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "RA00000000000000000001"
                  }
                },
                "tags": [
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "RT00000000000000000011"
                    }
                  }
                ]
              },
              "sys": {
                "id": "R000000000000000000001"
              }
            },
            {
              "fields": {
                "title": "T00002",
                "description": "D00001",
                "photo": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "RA00000000000000000002"
                  }
                }
              },
              "sys": {
                "id": "R000000000000000000002"
              }
            },
            {
              "fields": {
                "title": "T00003",
                "description": "D00003",
                "photo": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "RA00000000000000000003"
                  }
                },
                "chef": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "RC00000000000000000003"
                  }
                }
              },
              "sys": {
                "id": "R000000000000000000003"
              }
            },
            {
              "fields": {
                "title": "T00004",
                "description": "D00004",
                "photo": {
                  "sys": {
                [...]
